<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Diloo</title>
    <meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{{assets}}/assets/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{{assets}}/assets/semantic/components/dropdown.min.css">
	<link rel="stylesheet" type="text/css" href="{{assets}}/assets/css/main.css">
	<script type="text/javascript" src="{{assets}}/assets/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="{{assets}}/assets/semantic/semantic.min.js"></script>
    <script type="text/javascript" src="{{assets}}/assets/semantic/components/dropdown.min.js"></script>
	<script type="text/javascript" src="{{assets}}/assets/js/main.js"></script>	
</head>
<body>
	<main>
			{{{content}}}
	</main>
</body>
</html>
<!-- for all pages except login -->