{{> bar}}
<section class="content">
	<div class="ui grid">
		{{> menu}}
		<div class="twelve wide column">
			<h1>Statistics</h1>            
            <div class="ui secondary menu">
                <div class="left item" style="padding-left:0;">
                    <select class="ui  search dropdown" multiple="">
                           <option value="">Select Company</option>
                    </select>
               </div>                
               <div class="right item">
                   <div style="margin-right:20px;" class="ui icon input">
                       <input type="text" placeholder="Rango de fechas" id="admin_report_date_range" >
                            <i class="calendar icon"></i>
                   </div>
                   <button type="button" ng-click="companies.activity()" class="ui primary right labeled icon button">
                       <i class="search icon"></i>Buscar
                   </button>
              </div>
            </div>            
		</div>
	</div>	
</section>
